<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight: 900;">
      <h2><b>MealMint</b></h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left side nav links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/mealmint">
            <h5>Home</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <h5> Offers</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/restaurants">
            <h5>Restaurants</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-2" href="/restaurant/add">
            <h5>Add Restaurant</h5>
          </a>
        </li>
      </ul>

      <!-- Right side content (search + login) -->
      <div class="d-flex flex-column flex-lg-row gap-2 ms-lg-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">
          
          <% if(!currUser){ %>
            <a class="nav-link ms-lg-4" href="/login">
              <h5>Login</h5>
            </a>
            <a class="nav-link ms-lg-2" href="/signup">
              <h5>SignUp</h5>
            </a>
            <% } %>
              <% if(currUser){ %>
                <a class="nav-link ms-lg-2" href="/logout">
                  <h5>Logout</h5>
                </a>
              <% } %>


        </div>
      </div>
    </div>
  </div>
</nav>