<% layout("/layout/boilerplate")-%>
<div class="container-fulid">
   <div class="row">
      <div class="page-404-wrapper ">
    <div class="error-code">
      <span class="digit-404">4</span>
      <span class="digit-center">0</span>
      <span class="digit-404">4</span>
    </div>
    <div class="info-text">
      The page you are looking for might have been removed, had its name changed or is temporarily unavailable.
    </div>
    <a href="/mainpage" class="home-btn-404">HOME PAGE</a>
  </div>
   </div>
</div>

 