<% layout("/layout/boilerplate") -%>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-8 col-lg-7 text-center offset-2 ">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="fas fa-triangle-exclamation me-2"></i>
                    <div>
                        <%= message %>
                    </div>
                </div>
            </div>
        </div>
    </div>