
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MealMint</title>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=keyboard_double_arrow_down" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="hero-section">
    <video src="/assests/taztify_intro_vid.mp4" class="video-bg"   autoplay muted loop></video>
    <div class="content-overlay">
      <div style="position: absolute; top: 400px;  ">
        <h1>MealMint</h1>
        <h3 class="mt-4">Crave It? MealMint It.</h3>
        <h3 class="mt-0">Experience food like never before</h3>
        <div>
          <a href="/restaurants" type="button" class="btn btn-outline-light ps-4 pe-4 mt-3">Explore</a>
         
        </div>
        <div class="scrolld ">
          <p class="scroll-down mt-4">
            <span class="material-symbols-outlined">
              keyboard_double_arrow_down
            </span>
            scroll down
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Next content starts here -->
 <div class="container-fluid">
  <!-- row1 -->
  <div class="row">
<div class="col text-center mt-4 caption_section">
  <h1>More Flavor | More People | More Joy</h1>
  <p> Bringing bold bites and fresh finds <br> straight to your doorstep—one <br> craving at a time.</p>
</div>
  </div>
  <!-- row2 -->
   <div class="row feature_section text-center mb-4">
    <div class="col">
      <div><h2>Explore everything the <br>app has to offer!</h2>
      <p style="font-weight: 200;">The ultimate food delivery experience is here! <br> Our app is bursting with features <br>that will blow you away!</p></div>
   <div class="row">
    <!-- col1 -->
    <div class="col-12 col-md-4 col-xl-4 ">
<div class="row mt-4 mb-4">
  <div class="col mini-cards mb-4"> <img src="/assests/healthy.avif"  class="img-fluid" alt=""><p class="mt-4"><b>Healthy</b></p></div>
  <div class="col mini-cards mb-4"> <img src="/assests/veg.avif" class="img-fluid" alt=""><p class="mt-4"><b>Veg-mode</b></p></div>
</div>
<div class="row mt-4 mb-4">
  <div class="col mini-cards"> <img src="/assests/plan.avif" class="img-fluid" alt=""><p class="mt-4"><b>Plan a party</b></p></div>
  <div class="col mini-cards" ><img src="/assests/gift cards.avif" class="img-fluid" alt=""><p class="mt-4"><b>Gift cards</b></p></div>
</div>
    </div>
    <!-- col2 -->
    <div class="col-12 col-md-4 col-xl-4">
      <img src="/assests/phn pic.png" class="img-fluid phn_pic" alt="">
    </div>
      <!-- col3 -->
    <div class="col-12 col-md-4 col-xl-4 ">
      
    <div class="row mt-4 mb-4">
  <div class="col mini-cards mb-4 "> <img src="/assests/gourmet.avif"  class="img-fluid" alt=""><p class="mt-4"><b>gourmet</b></p></div>
  <div class="col mini-cards mb-4"> <img src="/assests/offers.avif" class="img-fluid" alt=""><p class="mt-4"><b>offers</b></p></div>
</div>
<div class="row mt-4 mb-4">
  <div class="col mini-cards mb-4"> <img src="/assests/train.avif" class="img-fluid" alt=""><p class="mt-4"><b>food on trains</b></p></div>
  <div class="col mini-cards mb-4" ><img src="/assests/collections.avif" class="img-fluid" alt=""><p class="mt-4"><b>collections</b></p></div>
</div></div>
   </div>
    </div>
 </div>
 <!-- row3 -->
 <div class="row">
  <div class="col">
    <!-- //footer -->
    <%- include("../includes/footer.ejs") %>
  </div>
 </div>
 </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
</body>
</html>


 